
* {
    padding: 0;
    margin: 0;
    background-color: aliceblue;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } 
  
.createData {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}